<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts Index</title>
  </head>
  <body>
    <h1>Posts</h1>
    <ul>
      <% for(const p of posts) {%>
      <li><%= p.title %> - <b><%= p.username %></b> <a href="/posts/<%= p.id %>">more</a></li>
      <% } %>
    </ul>
    <a href="/posts/new">New Post</a>
  </body>
</html>
