<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
  </head>
  <body>
    <h1>Create a New Post</h1>
    <form action="/posts" method="post">
      <section>
        <label for="username"><b>Usernam</b>e</label>
        <br />
        <input id="username" name="username" placeholder="Username" style="width: 300px" />
      </section>
      <br />
      <section>
        <label for="title"><b>Title</b></label>
        <br />
        <input id="title" name="title" placeholder="Title" style="width: 300px" />
      </section>
      <br />
      <section>
        <label for="content"><b>Content</b></label>
        <br />
        <textarea id="content" name="content" cols="30" rows="5" placeholder="Content" style="width: 300px"></textarea>
      </section>
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
//
